<%- include('./partials/head') %>


        <div id="gradient"></div>
  <div id="card">
  <img src= "<%= member.avatar %>" alt="avatar van <%= member.name %>" />
  
  <br> <h2> <%= member.name %> </h2> 
  <br>
  <p> 20YO - Een Frontend Designer Student.</p>
  <p> Skills - Ik kan IV TALEN Spreken. </p>
  
  
  <span class="right bottom"><a href="contact" > CONTACT </a></span> 
  

<%- include('./partials/foot') %>
