<%- include('./partials/head') %>

<!-- <article>
  <h1>Hallo wereld!</h1>
  <p>Alles werkt! Laat dit visitekaartje in je browser aan een docent zien :D</p>
</article> -->

        <div id="gradient"></div>
  <div id="card">
  <img src= "<%= member.avatar %>" alt="avatar van <%= member.name %>" />
  
  <br> <h2>I'm <%= member.name %> </h2>
  <p> 20YO - Een Frontend Designer Student.</p>
  <p> Skills - Ik kan IV TALEN Spreken. </p>
  
  
  <span class="right bottom"><a href="contact" > CONTACT </a></span> 
  

<%- include('./partials/foot') %>
